source/Inbound_Reconciliation_Step_Functions.txt
{
  "StartAt": "ConfigureCount",
  "States": {
    "ConfigureCount": {
        "Type": "Pass",
        "Result": {
            "count": 10,
            "index": 0,
            "step": 1
        },
        "ResultPath": "$.iterator",
        "Next": "LambdaReconciliation"
    },
    "LambdaReconciliation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:542216729913:function:lamdba_inbound_reconciliation:$LATEST",
      "ResultPath": "$.iterator",
      "Next": "StatusCheck"
    },
   "StatusCheck": {
      "Type": "Choice",
      "Choices": [
        {
            "Variable": "$.iterator.continueind",
            "StringEquals": "Y",
            "Next": "Wait60sec"
        }
      ],
      "Default": "Done"
   },
   "Wait60sec": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "LambdaReconciliation"
   },
   "Done": {
      "Type": "Pass",
      "End": true
            }
  }
}

  